@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
    line-height: 20px;
    margin: 48px
}

.date{
    color:grey;
}

.text {
    margin-bottom: 48px;
}